.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.music{
    background-color: aqua;
}
.products{
    display: flex;
   flex-direction: column;
    column-gap: normal;
    
}
.poster{
    display: flex;
    justify-content: space-evenly;
}