.heading {
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;

  flex-wrap: wrap-reverse;

  margin-top: 30px;
}
.music {
}
.products {
  display: flex;
  height: 190px;
  width: 150px;
  flex-direction: column;
  width: 150px;

  column-gap: normal;
}
.poster {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid brown;
}
